name: HACS Validate

on:
  push:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    env:
      REPOSITORY: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v4
      - uses: hacs/action@main
        with:
          category: integration
          ignore: brands
